/* Extra small devices (phones, 250px and down) */
@media only screen and (min-width: 250px) {
    body{
        width: auto;
        // background-color: lime;
    }
}

/* Extra small devices (phones, 350px and down) */
@media only screen and (min-width: 350px) {
    body{
        width: auto;
        // background-color: hotpink;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    body{
        width: auto;
        // background-color: #100;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        width: auto;
        // background-color: #105;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        width: auto;
        // background-color: #110;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        width: auto;
        // background-color: #115;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        width: auto;
        // background-color: #120;
    }
}